<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jwtest.wishes.myapplication">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_proj_ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.login.method.LoginPage"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.image.utils.SimpleSampleActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.jwtest.wishes.myapplication.About"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.jwtest.wishes.myapplication.Help"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>


</manifest>